.dg-circle-icon {
  --size: 3.4375rem;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: calc(0.3 * var(--size));
  background-color: transparent;
  cursor: pointer;
}
