.dg-circle-icon {
  display: inline-block;
  width: 3.4375rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
}
